.Buttons {
	font-family: Lucida Grande;
	font-size: 12px;
}

.Buttons_13 {
	font-family: Lucida Grande;
	font-size: 13px;
}

.Default {
	font-family: Lucida Grande;
	font-size: 13px;
}

.Standard {
	font-family: Lucida Grande;
	font-size: 13px;
}

